*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.xdv
*.toc
*.lof
*.lot
*.out
*.bbl
*.blg
*.brf
*.idx
*.ind
*.ilg
*.bcf
*.run.xml
*.glo
*.ist
*.acn
*.acr
*.alg
*.glg
*.gls
*.vrb
*.snm
*.nav
_minted*
pythontex-files-*/
*.pytxcode
*.bak
*.sav
*.swp
*.lock
